name: Basic deploy
on:
  push:
    branches: [ main ]

jobs:
  Deploy-static-site:
    runs-on: ubuntu-latest

    steps:
    - name: Create deploy-bucket
      uses: bitovi/github-actions-deploy-static-site-to-aws@v0.2.7
      with:
        aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws_default_region: ${{ secrets.AWS_REGION }}

        aws_site_bucket_name: static-portfolio-bucket-eu
        aws_site_source_folder: website
        
        aws_site_cdn_enabled: true
        aws_site_cdn_aliases: d1f3x4a9mocanm.cloudfront.net
